body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

header img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}

nav ul li:hover > ul {
    display: inherit;
}

main {
    padding: 20px;
}

.banner {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    text-align: center;
    animation: bannerAnimation 1.5s ease-in-out infinite alternate;
}

@keyframes bannerAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.productos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.productos article {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.productos article:hover {
    transform: scale(1.05);
}

.productos img {
    max-width: 100%;
    height: auto;
}

aside {
    background-color: #eee;
    padding: 20px;
}

.redes-sociales img {
    width: 40px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.redes-sociales img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
